language: objective-c
env:
  global:
    LC_CTYPE="en_US.UTF-8"
  matrix:
    - CONFIGURATION="Code Coverage" SCHEME="XCDYouTubeKit iOS Static Library" DESTINATION="platform=iOS Simulator,name=iPhone 5s"        OBJROOT="build"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=7.1"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=8.1"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=8.2"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" DESTINATION="platform=iOS Simulator,name=iPhone 4s"        RUN_CLANG_STATIC_ANALYZER="YES"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" DESTINATION="platform=iOS Simulator,name=iPhone 5s"        RUN_CLANG_STATIC_ANALYZER="YES"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Framework"      DESTINATION="platform=iOS Simulator,name=iPhone 4s"        RUN_CLANG_STATIC_ANALYZER="YES"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Framework"      DESTINATION="platform=iOS Simulator,name=iPhone 5s"        RUN_CLANG_STATIC_ANALYZER="YES"
    - CONFIGURATION="Release"       SCHEME="XCDYouTubeKit OS X"               DESTINATION="platform=OS X"                                RUN_CLANG_STATIC_ANALYZER="YES"
before_install:
  - xcrun simctl list
install:
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
  - sudo easy_install cpp-coveralls
script:
  - ./Scripts/run-tests.sh
after_success:
  - if [ "$CONFIGURATION" == "Code Coverage" ]; then
      coveralls --include XCDYouTubeKit;
    fi
