osx_image: beta-xcode6.3
language: objective-c
before_install:
    - xcrun simctl list
install:
    - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
    - sudo easy_install cpp-coveralls
script:
    - export LC_CTYPE=en_US.UTF-8
    - set -o pipefail
    - xcodebuild test -project XCDYouTubeKit.xcodeproj -scheme 'XCDYouTubeKit iOS Static Library' -destination 'platform=iOS Simulator,name=iPhone Retina (4-inch)' | xcpretty -c
    - xcodebuild test -project XCDYouTubeKit.xcodeproj -scheme 'XCDYouTubeKit iOS Static Library' -destination 'platform=iOS Simulator,name=iPhone Retina (4-inch 64-bit)' OBJROOT=build | xcpretty -c
    - xcodebuild test -project XCDYouTubeKit.xcodeproj -scheme 'XCDYouTubeKit OS X' | xcpretty -c
after_success:
    - coveralls --include XCDYouTubeKit
