osx_image: xcode6.4
language: objective-c
env:
  matrix:
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s"        CONFIGURATION="Code Coverage" SCHEME="XCDYouTubeKit iOS Static Library" OBJROOT="build"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=8.1" CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=8.2" CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=8.3" CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s,OS=8.4" CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 4s"        CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" RUN_CLANG_STATIC_ANALYZER="YES"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s"        CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Static Library" RUN_CLANG_STATIC_ANALYZER="YES"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 4s"        CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Framework"      RUN_CLANG_STATIC_ANALYZER="YES"'
    - 'DESTINATION="platform=iOS Simulator,name=iPhone 5s"        CONFIGURATION="Release"       SCHEME="XCDYouTubeKit iOS Framework"      RUN_CLANG_STATIC_ANALYZER="YES"'
    - 'DESTINATION="platform=OS X"                                CONFIGURATION="Release"       SCHEME="XCDYouTubeKit OS X"               RUN_CLANG_STATIC_ANALYZER="YES"'
before_install:
  - xcrun simctl list
  - brew update; brew update
install:
  - brew install coreutils
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
  - gem install xcpretty-travis-formatter --no-rdoc --no-ri --no-document --quiet
  - sudo easy_install cpp-coveralls
script:
  - ./Scripts/run-tests.sh
after_success:
  - '[ "$CONFIGURATION" == "Code Coverage" ] && coveralls --include XCDYouTubeKit'
after_failure:
  - cat xcodebuild.log
